slam_toolbox:
  ros__parameters:
    use_sim_time: false
    odom_frame: odom
    map_frame: map
    base_frame: base_link
    scan_topic: /scan
    resolution: 0.05
    map_update_interval: 1.0   # publish /map at ~1 Hz
    mode: mapping              # online mapping
